.ub-emb-container {
    display: none;
}
.banner-experience {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 100%;
    grid-template-areas: "header" "images " "actions";
}
.banner-experience__header {
    grid-area: header;
}
.banner-experience__actions {
    grid-area: actions;
}
.insurance_custom_title {
    color: #09c;
    margin-top: 7px;
    margin-bottom: 6px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-weight: 700;
}
.insurance_custom_form {
    color: #444;
    font-size: 16px;
    line-height: 20px;
    margin-top: 32px;
    text-align: left;
}
.insurance_custom_subtitle {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #444;
    font-weight:300;
}
  .insure_custom_wrapper{
    display: flex;
    flex-direction: row-reverse;
}
.banner-experience__image {
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease;
    filter: blur(0px);
    border-radius: 24px
}
.banner-experience__image--primary {
    z-index: 2
}
.banner-experience__image--secondary {
    z-index: -1
}
.insure_custom_img_small {
    left: 80px;
    top: 60px;
    width: 100%;
    height: 100%;
    max-width: 222px;
    max-height: 206px
}
.insure_custom_img_big {
    left: 0;
    top: 20px;
    width: 100%;
    height: 100%;
    max-width: 108px;
    max-height: 106px
}
.insure_custom_img_txt {
    position: absolute;
    left: 45%;
    top: 78%;
    width: 180px;
    height: 56px;
    z-index: 3
}
.banner-experience__images {
    position: relative;
    grid-area: images;
    width: 100%;
    max-width: 540px;
    min-height: 276px;
    margin: 20px auto auto
}
.banner-experience__images > img:nth-child(1),banner-experience__images > img:nth-child(2) {
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease;
    filter: blur(0px);
    border-radius: 24px;
}
.insurance_custom_h1 {
    color: #444;
    font-size: 12px;
    line-height: 15px;
    font-weight: 700;
    text-align: left;
}
.banner__wrapper--experience {
    position: relative;
    height: auto;
    transition: .5s all ease-out;
}
@media only screen and (min-width: 600px){
    .banner-experience__images {
        min-height: 340px;
    }
    .insurance_custom_h1 {
        line-height: 17px;
        text-align: center;
    }
    .banner__wrapper--experience {
        height: auto;
    }
    .insurance_custom_title {
        text-align: center;
        font-size: 46px;
    }
    .insurance_custom_subtitle {
        text-align:center;
        font-size: 32px
    }
    .banner-experience__images {
        min-height:340px
    }
    .insure_custom_img_small {
        max-width:300px;
        max-height: 268px;
        left: 160px
    }
    .insure_custom_img_big {
        left:60px;
        top: 10px;
        left: 100px
    }
    .insure_custom_img_txt {
        top:82%;
        left: 60%;
        width: auto
    }
}

@media only screen and (min-width: 1060px) {
    .banner-experience {
        margin-top: 48px;
        grid-template-columns: minmax(80px,55%) minmax(max-content,45%);
        grid-template-areas: "images header" "images actions";
    }
    .banner-experience__images {
        min-height: 260px;
    }
    .insurance_custom_h1 {
        line-height: 17px;
        text-align: left;
    }
    .insurance_custom_subtitle {
        font-size:36px;
        line-height: 48px;
        text-align: left
    }
    .banner-experience__images {
        min-height:260px
    }
    .insure_custom_img_txt {
        max-height:100px;
        top: 102%
    }
}

@media only screen and (min-width: 1104px) {
    .insure_custom_img_small {
        max-width:306px;
        max-height: 298px;
        left: 116px
    }
    .insure_custom_img_big {
        max-width:154px;
        max-height: 136px;
        top: 10px;
        left: 50px
    }
    .insure_custom_img_txt {
        top:103%;
        left: 54%
    }
}

@media only screen and (min-width: 1360px) {
    .insure_custom_img_small {
        max-width:306px;
        max-height: 298px;
        left: 116px
    }
}